<a href="https://colab.research.google.com/github/vigneshwarjayabal/NLP/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Phase 1: Python Text Basics**

Some basic print formating (f-string literal) with aligment options.

In [1]:
person = "vignesh"  #old way to format the string

print("my name is {}".format(person))

my name is vignesh

In [2]:
#f-string
print(f"my name is {person}")

my name is vignesh

In [3]:
d = {'a':123,'b':456}

print(f"my number is {d['a']}")

my number is 123

In [4]:
mylist = [0,1,2]

print(f"my number is {mylist[0]}")

my number is 0

In [10]:
library = [('Author', 'Topic', 'Pages'), ('Twain', 'Rafting in water alone', 601), ('Feynman', 'Physics', 95), ('Hamilton', 'Mythology', 144)]

In [11]:
library

[('Author', 'Topic', 'Pages'),
 ('Twain', 'Rafting in water alone', 601),
 ('Feynman', 'Physics', 95),
 ('Hamilton', 'Mythology', 144)]

**Minimum Widths, Alignment and Padding**

You can pass arguments inside a nested set of curly braces to set a minimum width for the field, the alignment and even padding characters.

In [12]:
for author,topic,pages in library:
  print(f"{author} {topic} {pages}")

Author Topic Pages
Twain Rafting in water alone 601
Feynman Physics 95
Hamilton Mythology 144

inside the placeholder put : open curly bracket give number space you want.

In [13]:
for author,topic,pages in library:
  print(f"{author:{10}} {topic:{30}} {pages:{10}}")

Author     Topic                          Pages
Twain      Rafting in water alone                601
Feynman    Physics                                95
Hamilton   Mythology                             144

To set the alignment, use the character `<` for left-align,  `^` for center, `>` for right.

In [14]:
for author,topic,pages in library:
  print(f"{author:{10}} {topic:{30}} {pages:>{10}}")

Author     Topic                               Pages
Twain      Rafting in water alone                601
Feynman    Physics                                95
Hamilton   Mythology                             144

To set padding, precede the alignment character with the padding character (`-` and `.` are common choices).

In [15]:
for author,topic,pages in library:
  print(f"{author:{10}} {topic:{30}} {pages:->{10}}")

Author     Topic                          -----Pages
Twain      Rafting in water alone         -------601
Feynman    Physics                        --------95
Hamilton   Mythology                      -------144

In [16]:
for author,topic,pages in library:
  print(f"{author:{10}} {topic:{30}} {pages:.>{10}}")

Author     Topic                          .....Pages
Twain      Rafting in water alone         .......601
Feynman    Physics                        ........95
Hamilton   Mythology                      .......144

Date Formatting

In [19]:
from datetime import datetime

today = datetime(year=2025, month=1, day=27)

print(f'{today}')

2025-01-27 00:00:00

In [20]:
from datetime import datetime

today = datetime(year=2025, month=1, day=27)

print(f'{today:%B %d, %Y}')

January 27, 2025

In [21]:
today

datetime.datetime(2025, 1, 27, 0, 0)

How to read and write to text files with python

In [22]:
%%writefile test.txt
Hello, this is a quick test file.
This is the second line of the file .

Writing test.txt